<main>
 <div class="container">
  <h2 class="title">フォロワーユーザーリスト</h2>
 </div>
  <% if @users.exists? %>
   <div class="container2">
    <% @users.each do |user| %>
        <td><%= link_to user_path(user.id) do %>
            <%= attachment_image_tag user, :icon_image, size: "100x100", class:"icon",fallback: "virender-singh-hE0nmTffKtM-unsplash.jpg" %>
            <% end %></td>
        <td><%= link_to user_path(user.id) do %>
            <%= user.nick_name %>
            <% end %></td>
  </div>
  <div class="introduction">
    <td><%= user.introduction %></td>
  </div>
    <% end %>
<% else %>
 <div class="title">
  <p>ユーザーはいません</p>
 </div>
<% end %>