<main>
 <div class="container">
  <div class="row">
   <% if current_user.id == @user.id %>
    <%= form_with model:@user, local:true do |f| %>
     <div class="item">
     <%= f.label :Icon %>
     <%= f.file_field :icon_image %></div>

    <div class="item">
     <%= f.label :Name %>
     <%= f.text_field :nick_name %></div>

    <div class="item">
     <%= f.label :Introduction %>
     <%= f.text_field:introduction %></div>

     <%= f.submit :"変更保存",class: "edit" %>
   <% end %>
   <% end %>

    <% if current_user.id == @user.id %>
     <%= link_to "退会", users_unsubscribe_path, class: "danger" %>
     <% else%>
    <% end %>

    </div>
  </div>
 </div>
</main>